<div class="start-chat-container">
  <p class="start-chat-text">Start chat with</p>
  <div class="my-2 mb-3 start-chat-item-container">
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
    <app-start-chat-item></app-start-chat-item>
  </div>
</div>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<app-chat-item></app-chat-item>
<!-- <app-start-chat-message></app-start-chat-message> -->
