@import "../../../variables.scss";

:host {
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.start-chat-item-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.start-chat-text {
  color: $black;
  margin: 0;
  line-height: normal;
}
