@import "../../../variables.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 12%;
  min-width: 450px;
  background-color: $lightGreyBG;
  height: 100%;
}

.inbox-container {
  overflow-y: auto;
  padding: 15px;
}