<div class="chat-container">
  <app-chat-window-item class="other-message"></app-chat-window-item>
  <app-chat-window-item class="my-message"></app-chat-window-item>
  <app-chat-window-item class="my-message"></app-chat-window-item>
  <app-chat-window-item class="my-message"></app-chat-window-item>
  <app-chat-window-item class="other-message"></app-chat-window-item>
  <app-chat-window-item class="other-message"></app-chat-window-item>
</div>
<div class="input-container">
  <form class="d-flex h-100 align-items-center">
    <textarea
      type="text"
      class="input"
      placeholder="Enter your message"
    ></textarea>
    <button class="btn btn-primary send-button">Send</button>
  </form>
</div>
