<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-7">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user-o"></span>
          </div>
          <h3 class="text-center mb-4">Have an account?</h3>
          <form action="#" class="login-form">
            <app-filled-input
              [required]="true"
              placeholder="Username"
            ></app-filled-input>
            <app-filled-input
              type="password"
              [required]="true"
              placeholder="Password"
            ></app-filled-input>
            <div class="form-group d-flex justify-content-between">
              <app-checkbox></app-checkbox>
              <a href="#">Forgot Password</a>
            </div>
            <app-button></app-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
