@import "../../../../variables.scss";

:host {
  height: 60px;
  background-color: $primary;
  display: flex;
  padding: 0 15px;
  align-items: center;
}

.left-arrow {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.username {
  color: $white;
  font-size: 1.3em;
  margin: 0;
  flex: 1;
  text-align: left;
  margin-left: 15px;
}

.inbox-text {
  color: $white;
  font-size: 1.3em;
  margin: 0;
  flex: 1;
  text-align: center;
}
