@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

@import "../../../variables.scss";

.bg-primary {
  background: $primary !important;
}

.bg-light-grey {
  background-color: $lightGreyBG;
}

.bg-red {
  background-color: $red;
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn {
  cursor: pointer;
  @include border-radius(40px);
  box-shadow: none !important;
  font-size: 15px;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
  &.btn-primary {
    background: $primary !important;
    border: 1px solid $primary !important;
    color: $white !important;
    &:hover {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;
    }
    &.btn-outline-primary {
      border: 1px solid $primary;
      background: transparent;
      color: $primary;
      &:hover {
        border: 1px solid transparent;
        background: $primary;
        color: $white;
      }
    }
  }
}
