@import "../../../../variables.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: $white;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 5px;
}

:host:first-of-type {
  margin-left: 0;
}

:host:last-of-type {
  margin-right: 0;
}

.profile-pic {
  width: 73%;
  height: 65%;
}

.username {
  margin: 0;
  line-height: normal;
  color: $black;
  font-size: 0.9em;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
