<div class="header-container">
  <img
    class="user-profile-pic"
    src="../../../assets/icons/man.png"
    alt="user profile"
  />
  <div class="d-flex flex-column ml-3 justify-content-center">
    <p class="username-text mb-1">Izaan</p>
    <p class="post-time-text">a few seconds ago</p>
  </div>
</div>
<div class="post-text-container">
  <p class="post-text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero tenetur sed,
    quaerat odio esse pariatur totam aliquid doloribus sapiente, saepe
    consequuntur quae, eum ullam commodi facere quam rem et. Repellat?
  </p>
</div>
<div class="post-image-container">
  <img src="../../../assets/images/landscape.jpg" alt="post" />
</div>
<div class="d-flex flex-row bg-white">
  <app-post-action-button
    icon="../../../assets/icons/like-black.png"
    active-icon="../../../assets/icons/like-black-filled.png"
    class="d-flex flex-1 border-right-medium-grey-1"
    >Like (10)</app-post-action-button
  >
  <app-post-action-button
    (click)="openCommentModal()"
    icon="../../../assets/icons/comment-black.png"
    class="d-flex flex-1"
    >Comment (10)</app-post-action-button
  >
</div>
