<div class="main-container">
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
  <app-comment-item></app-comment-item>
</div>
<div class="d-flex flex-row align-items-center pt-3">
  <textarea placeholder="Enter your comment" class="comment-input"></textarea>
  <button class="btn btn-primary send-button">Send</button>
</div>
